<%- include('../_layouts/adminheader') -%>

<h2 class="page-title mt-4">Add  Category</h2>
<form method="POST" class="mt-4" action="">
    <div class="form-group">
      <label for="title">Enter Category name</label>
      <input type="text" class="form-control" placeholder="Enter category" id="category" name="category">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

<%- include('../_layouts/adminfooter') -%>
