<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Admin Area</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" target="_blank">Cmsshopingcart <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/pages">Pages</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/admin/pages/add-page">Add Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category/add-category">Add Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category">View Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product/">View Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product/add-product">Add Product</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">

        <% if(errors != null){ %>
        <% errors.forEach(function(error){ %>
        <%= error.msg %>
        <% })} %>

        <% if(message != null){ %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
            <strong><% if(status == false){ %> Ohh Snap!! <% }else {%> congo!! <% } %> </strong> <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>